  <h1>Book List</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Price</th>
      <th>Owner</th>
      <th>Action</th>
    </tr>
    {% for book in books %}
    <tr>
      <td>{{ book.id }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.price }}</td>
      <td>{{ book.owner }}</td>
      <td><a href="{% url 'purchase_book' book.id %}">Buy</a></td>
    </tr>
    {% endfor %}
  </table>
  <a href="{% url 'logout' %}">Logout</a>